from datetime import date

#
CONNECTIONS = [
    {'name' : 'NL BANK1',
     'plugin'   : 'nl-bank1',
     'username' : 'user1',
     'password' : 'password1',
     'accounts' : [
         {'name' : 'NL323248309432809',
          'type' : 'ccard',
          'from' : date(2016,03,01)}
     ]
    }
]
